@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Ubuntu", serif;
  color: #333;
}

button {
  background: #79589f;
  color: white;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.primary-color {
  color: #79589f;
}

.info-color {
  color: black;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar a {
  color: black;
}

.navbar a:hover {
  text-decoration: none;
  color: #79589f;
}

/* username */
.username {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
}

.username a {
  color: black;
}

.username a:hover {
  text-decoration: none;
  color: #79589f;
}

/* info */
.info {
  padding: 20px;
  display: inline;
  align-items: center;
  max-width: 600px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 13px;
}

.info a {
  color: black;
}

.space {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  border-bottom: 1px solid #f2f2f2;
}

/* notes list */
.main-content {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}

.notes-preview a{
  background: #f4f4f4;
  display: block;
  padding: 1rem;
}

.notes-preview a:hover {
  background: #e4e4e4;
  text-decoration: none;
}

/* note details */
.note-details .metadata {
  font-size: 14px;
}

/* create note form */
.create {
  max-width: 400px;
  margin: 20px auto;
}

/* login and register form */
.login {
  max-width: 400px;
  margin: 40px auto;
}

/* weather */
.weather {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

/* popup */
.popup-body {
  position: center;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  border-color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* category */
.main-category {
  max-width: 140px;
  padding: 8px;
  margin: 0px auto;
  border-radius: 5px;
  border-color: white;
  background: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
  color: #79589f;
  outline-color: white;
}